<h3>{{#link-to 'posts.show' post}}{{post.title}}{{/link-to}}</h3>

{{#if truncateLength}}
  {{truncate-with-expand length=truncateLength content=post.body}}
{{else}}
  <p>{{post.body}}</p>
{{/if}}

<span class="text-muted">
  {{moment-from-now post.createdAt}}

  {{#if hasComments}}
    |
    {{commentsCount}} {{inflect-by-count 'comment' commentsCount}}
  {{/if}}
</span>

<p class="actions pull-right">
  {{#link-to 'posts.edit' post}}Edit{{/link-to}}
  |
  <a class="btn-link" {{action 'destroyPost' post}}>Destroy</a>
</p>
