<h3>{{#link-to 'posts.show' post}}{{post.title}}{{/link-to}}</h3>

{{#if truncateLength}}
{{truncate-with-expand length=truncateLength content=post.body}}
{{else}}
<p>{{post.body}}</p>
{{/if}}

<div class="info">
  <span class="text-muted">
    {{moment-from-now post.createdAt}}
  </span>

  |

  <span class="text-muted">
    {{#if hasComments}}
      {{commentsCount}} {{inflect-by-count 'comment' commentsCount}}
    {{else}}
      no comments yet
    {{/if}}
  </span>

  {{#if session.isSignedIn}}
    <div class="actions pull-right">
      {{#link-to 'posts.edit' post}}Edit{{/link-to}}
      |
      <a class="btn-link" {{action 'destroyPost' post}}>Destroy</a>
    </div>
  {{/if}}
</div>

{{#if commentingEnabled}}
  <div class="commenting">
    {{comments-list comments=comments updateComment='updateComment' destroyComment='destroyComment'}}
    {{comment-form comment=comment action='createComment' class='col-md-6'}}
  </div>
{{/if}}
