{{#if isFormShown}}
<a {{action 'toggleForm'}}>cancel</a>
<br/>

<form>
  <div class="form-group">
    <textarea placeholder="Write your comment here!" class="form-control" rows="2" cols="10">{{body}}</textarea>
  </div>
  <button class="btn btn-xs btn-primary" {{action 'submit'}}>save comment</button>
</form>
{{else}}
<a {{action 'toggleForm'}}>comment this!</a>
{{/if}}
