<form {{action 'save' on='submit'}}>
  <div class="form-group">
    <label for="title">Title:</label>
    {{input value=post.title required='true' maxlength=titleMaxLength type='text' placeholder='Post title' class='form-control'}}

    {{error-list errors=post.errors.title}}
  </div>

  <div class="form-group">
    <label for="body"> Body: </label>
    {{remaining-chars minLength=bodyMinLength maxLength=bodyMaxLength value=post.body label='chars left:' class='pull-right'}}
    {{textarea value=post.body required='true' rows=8 maxlength=bodyMaxLength placeholder='Post body' class='form-control'}}


    {{error-list errors=post.errors.body}}
  </div>

  <button class="btn btn-primary">{{submitLabel}}</button>
  <a {{action 'cancel'}}>cancel</a>
</form>
