<form {{action 'submit' on='submit'}}>
  <div>
    <label for="title">Title:</label>
    {{input value=post.title required='true' maxlength=titleMaxLength type='text' placeholder='Post title'}}

    {{error-list errors=post.errors.title}}
  </div>

  <div>
    <label for="body">Body:</label>
    {{textarea value=post.body required='true' maxlength=bodyMaxLength placeholder='Post body'}}
    <p class="remaining-chars">Remaining chars: {{remainingChars}}</p>
    {{error-list errors=post.errors.body}}
  </div>

  <div>
    <button {{action 'submit' on='submit'}}>{{submitLabel}}</button>
  </div>
</form>
