{{#if isTruncationNeeded}}
  {{#if isExpanded}}
    {{content}}
    <a class="btn-xs btn-link" {{action 'collapse'}}>- collapse</a>
  {{else}}
    {{truncatedContent}}
    <a class="btn-xs btn-link" {{action 'expand'}}>+ expand</a>
  {{/if}}
{{else}}
  {{content}}
{{/if}}
